@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


:root {
  --primary-color: #008000;
  --secondary-color: #b3e3ff;
  --dark-color: #1c3fa8;
  --light-color: #ffffff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h1 {
  font-family: 'Space Mono', sans-serif;
}

h2.md.text-center {
  margin: 0;
  padding: 15px;
  color: var(--primary-color);
}

h3.text-center {
  color: var(--primary-color);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

/* Custom Font*/
.mono {
  font-family: 'Space Mono', sans-serif;
}


/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Search Box */
.searchbox {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.searchbox h1 {
  font-size: 40px;
}

.searchbox p {
  margin: 20px 0;
}

.searchbox .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  /* gap: 30px; */
}

.searchbox-text {
  animation: slideInFromRight 1s ease-in;
}

.searchbox-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-start;
  animation: slideInFromLeft 1s ease-in;
}

.searchbox-form .form-control {
  margin: 30px 0;
}

.searchbox-form input[type='text'],
.searchbox-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.searchbox-form input:focus {
  outline: none;
}

.searchbox::before,
.searchbox::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: -7px;
  left: 0;
  background: var(--secondary-color);
  transform: translate(-3px, -1px) rotate(2deg);
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
  background-color: var(--secondary-color);
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  color: var(--primary-color)
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Materials Cards */

.materials-card {
  background-color: var(--secondary-color);
}

.materials-card .flex {
  flex-wrap: wrap;
}

.materials-card .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.materials-card .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.materials-card .card:hover {
  transform: translateY(-15px);
}

/* About */
.about-head img,
.comments-head img {
  width: 200px;
  justify-self: flex-end;
}

.about-about-body img {
  width: 300px;
  justify-self: flex-end;
}

.about-main .card > i {
  margin-right: 20px;
}

.about-main .grid {
  padding: 30px;
}

.about-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.about-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Comments */
.comments-main h3 {
  margin: 20px 0;
}

.comments-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.comments-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.comments-main a:hover {
  font-weight: bold;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .searchbox .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .about-main .grid,
  .comments-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .searchbox {
    height: auto;
  }

  .searchbox-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .searchbox-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .about-head,
  .about-about-body,
  .comments-head {
    text-align: center;
  }

  .about-head img,
  .about-about-body img,
  .comments-head img {
    justify-self: center;
  }

  .about-main .grid > *:first-child,
  .about-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}