html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #a6faaad2, #1ce711c5, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#ghibli-logo {
  max-height: 10rem;
  max-width: 15rem;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.nav-link {
  font-size: 2.5rem;
  margin: auto;
}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h1 {
  text-align: center;
  color: rgba(250, 250, 254, 0.982);
  text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
